# Desenvolvimento local
# URL publica do backend Django/Render sem /api no final
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
# URL interna usada por rotas/SSR do Next sem /api no final
INTERNAL_API_BASE_URL=http://backend:8000

# URL do Frontend usada para links
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Producao no Vercel
# NEXT_PUBLIC_API_BASE_URL=https://neuropsi-ddag.onrender.com
# INTERNAL_API_BASE_URL=https://neuropsi-ddag.onrender.com
# NEXT_PUBLIC_APP_URL=https://neuropsi-eta.vercel.app
